body{
    color: white;
    background-color: #c0d3ff;
    letter-spacing: 2px;
    font-size: 25px;
    font-style: italic;
    color: blueviolet;
}
#text{
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}
#btn{
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
   background-color: transparent;
   border: white 15px dashed;
   color: blueviolet;

}
